
**/bin
**/.settings
**/.project
**/.classpath
**/*.class
client/js-lite/crazy-dumplings-js-lite/.vscode/tasks.json
client/js-lite/crazy-dumplings-js-lite/.vscode/launch.json
client/js-lite/crazy-dumplings-js-lite/.vscode/tasks.json
client/js-lite/crazy-dumplings-js-lite/.vscode/launch.json
client/js-lite/crazy-dumplings-js-lite/.vscode/tasks.json
client/js-lite/crazy-dumplings-js-lite/.vscode/launch.json
client/management-client/crazy-dumplings-management/.vscode/tasks.json
client/management-client/crazy-dumplings-management/.vscode/launch.json
