
.background-overlay {
    width: 100vw; height: 100vh;
    position:absolute; left:0px; top:0px;
    z-index: -1;
    background-image: url('../../../../assets/images/main/background-image-clear.png');
    background-attachment: fixed;
    background-size: 100%;
}