
.repository-edit-form {
    width: 550px;
    height: 350px;
    background-color: #000;
    opacity: .7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    padding: 10px;
}
